<form class="device-form" [formGroup]="deviceNetform">
    <div class="form-header">
      <h2 class="form-title">Device Network Interface </h2>
      <button mat-icon-button class="close-button" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  
    <div class="form-row">
     
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Device Name</mat-label>
        <mat-select formControlName="device_id" required>
          <!-- <mat-option *ngFor="let type of deviceTypes" [value]="type">{{ type }}</mat-option> -->
          <mat-option *ngFor="let devicetype of devicesList" [value]="devicetype.id">
            {{ devicetype.devicename }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Interface Name</mat-label>
        <input matInput formControlName="interface_name" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>IP Address</mat-label>
        <input matInput formControlName="ip_address" />
      </mat-form-field>
    </div>
  
    <!-- <div class="form-row">
      <label>Icon</label>
      <input type="file"  accept="image/*" />
    </div> -->
  
    <div class="form-row">

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>MAC Address</mat-label>
            <input matInput formControlName="mac_address" />
          </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let status of statusOptions" [value]="status">{{ status }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Speed</mat-label>
            <input matInput formControlName="speed" />
          </mat-form-field>

    </div>
  
    <div class="form-actions">
      <button type="submit" (click)="onSubmit()" mat-raised-button color="primary">Submit</button>
      <button type="button" (click)="onUpdate(data.device?.id)" mat-raised-button color="accent">Update</button>
    </div>
  </form>
