
<div class="device-table-container">
    <div class="header-card">
      <h3>Rooms  </h3>
      <button mat-raised-button class="add-button" (click)="openAddDeviceWindow()">
        <mat-icon>add</mat-icon> Add
      </button>
    </div>
  
  
    
    <div class="filter-card">
      <mat-form-field appearance="outline" class="filter-input">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter()" placeholder="Search devices..." />
      </mat-form-field>
    </div>
    
    <div class="table-card">
      <table mat-table [dataSource]="rooms" class="mat-elevation-z2 full-width-table" matSort>

      

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Room name</th>
            <td mat-cell *matCellDef="let device">{{ device.name }}</td>
          </ng-container>

      <ng-container matColumnDef="Floor_name">
        <th mat-header-cell *matHeaderCellDef>Floor Name</th>
        <td mat-cell *matCellDef="let room">{{ room.floor_name}}</td>
      </ng-container>


      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let room">{{ room.description }}</td>
      </ng-container>

      <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef>Latitude</th>
        <td mat-cell *matCellDef="let room">{{ room.latitude }}</td>
      </ng-container>

      <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef>Longitude</th>
        <td mat-cell *matCellDef="let room">{{ room.longitude }}</td>
      </ng-container>
  
     
      <!-- Actions Column -->
      <ng-container matColumnDef="actions" stickyEnd="true">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let room">
          <button mat-icon-button color="primary" (click)="onEdit(room.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete(room.id)">
            <mat-icon>delete</mat-icon>
          </button>
         
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      </table>
        <br>
                <mat-paginator class="paging" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Select page">
                </mat-paginator>
    </div>
  </div>


