<form class="device-form" [formGroup]="ipsubnetform">
    <div class="form-header">
      <h2 class="form-title">Add IP Subnet</h2>
      <button mat-icon-button class="close-button" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  
    <div class="form-row">

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Subnet Name</mat-label>
            <mat-select formControlName="subnet_id" required>
              <!-- <mat-option *ngFor="let type of deviceTypes" [value]="type">{{ type }}</mat-option> -->
              <mat-option *ngFor="let subnetType of subnetList" [value]="subnetType.id">
                {{ subnetType.name }}</mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>IP Address</mat-label>
            <input matInput formControlName="ip_address" />
          </mat-form-field>
     
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Device Name</mat-label>
        <mat-select formControlName="device_id" required>
          <!-- <mat-option *ngFor="let type of deviceTypes" [value]="type">{{ type }}</mat-option> -->
          <mat-option *ngFor="let devicetype of deviceList" [value]="devicetype.id">
            {{ devicetype.devicename }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>MAC Address</mat-label>
        <input matInput formControlName="mac_address" />
      </mat-form-field>

    </div>
  
    <div class="form-row">



        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let status of statusOptions" [value]="status">{{ status }}</mat-option>
            </mat-select>
          </mat-form-field>


      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Hostname</mat-label>
        <input matInput formControlName="hostname" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Last seen</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="last_seen" />
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      
    </div>
  
    <!-- <div class="form-row">
      <label>Icon</label>
      <input type="file"  accept="image/*" />
    </div> -->

  
    <div class="form-actions">
      <button type="submit" (click)="onSubmit()"  mat-raised-button color="primary">Submit</button>
      <button type="button" (click)="onUpdate(data.device?.id)" mat-raised-button color="accent">Update</button>
    </div>
  </form>
