<form class="device-form" [formGroup]="deviceform">
    <div class="form-header">
      <h2 class="form-title">Device Group Map</h2>
      <button mat-icon-button class="close-button" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  
    <div class="form-row">
     
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Device Name</mat-label>
        <mat-select formControlName="device_id" required>
          <!-- <mat-option *ngFor="let type of deviceTypes" [value]="type">{{ type }}</mat-option> -->
          <mat-option *ngFor="let devicetype of devicesList" [value]="devicetype.id">
            {{ devicetype.devicename }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <!-- <div class="form-row">
      <label>Icon</label>
      <input type="file"  accept="image/*" />
    </div> -->
  
    <div class="form-row">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Device Group Name</mat-label>
            <mat-select formControlName="group_id" required>
              <!-- <mat-option *ngFor="let type of deviceTypes" [value]="type">{{ type }}</mat-option> -->
              <mat-option *ngFor="let devicetype of devicegroup" [value]="devicetype.id">
                {{ devicetype.name }}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
  
    <div class="form-actions">
      <button type="submit" (click)="onSubmit()" mat-raised-button color="primary">Submit</button>
      <button type="button" (click)="onUpdate(data.device?.id)" mat-raised-button color="accent">Update</button>
    </div>
  </form>